{
"parser": "babel-eslint",
"parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
        "modules": true,
        "spread" : true,
        "restParams" : true,
        "jsx": true
    }
},
    "env" : {
        "browser" : true,
        "node" : true,
        "es6" : true
    },
    "rules" : {
        "no-unused-vars" : 0,
        "no-undef" : 2
    },
     "plugins": [
        "react"
    ]
}
