@import "base/variables";

// Bootstrap
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Components
@import "components/page-title";

html, body, #root{
  width: 100%;
  height: 100%
}
